//body styls
html {
    scroll-behavior: smooth;
}

body {
    font-family: $sans;
    font-weight: $light;
    transition: all ease-in-out 250ms;
    background-color: #fbfbfb;
}

// global classes
.muted-heading {
    color: $mutedBlack;
    @include font-size(40px);
    text-transform: capitalize;

    @include mediaMax(769px) {
        margin-bottom: 1em;
    }
}

.sticky {
    background-color: #fbfbfb;
    box-shadow: 0 0 15px #777;
    position: sticky;
    top: 0;
    z-index: 1020;
}