nav {


    .navbar-brand {
        font-size: 1.4em;
        text-transform: uppercase;
    }

    .nav-link {
        font-weight: bold;
    }

    .form-control {
        width: 80%;
    }

    @include mediaMax(769px) {
        .navbar-brand {
            font-size: 1.2em;
        }
    }
}